* {
  box-sizing: border-box;
}

p>span {
  font-weight: bold;
  text-decoration: underline;
}

.container {
  /* включаем свойство flex для родителя */
  display: flex;
  /* задаем flex-wrap, чтобы элементы, если не влезают в размеры родителя, переносились на новую строку */
  background-color: lightcyan;
  /* позиционирование по горизонтальной оси x */
  /* поведение по умолчанию */
  flex-direction: row;
  flex-wrap: wrap;
  /* короткая запись для 16 и 17 строки */
  flex-flow: row wrap;
  /* позиционирование по центру по горизонтальной оси */
  justify-content: start;
  /* дополнительное расстояние между элементами */
  /* gap: 40px; */
  row-gap: 60px;
  column-gap: 30px;
}

.container>div:last-child {
  background-color: blueviolet;
  color: #fff;
}

.container>div:first-child {
  background-color: rgb(226, 43, 43);
}

.container>div:first-child:hover {
  background-color: darkred;
}

.container>div:last-child:hover {
  background-color: darkblue;
}

.redBox {
  background-color: lightcoral;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin: 20px;
}

.redBox:hover {
  background-color: rgb(91, 42, 42);
  width: 400px;
}



.container2 {
  background-color: bisque;
  display: flex;
  flex-wrap: wrap-reverse;
  /* justify-content
    - flex-end - расположение ближе к концу оси
    - flex-start - расположение к началу оси
    - center - по центру
    - space-between - все свободное месту между элементами, не по краям
    - space-around - расстояние равномерно вокруг элементов
    - space-evenly - расстояние равномерно между элементами
  */
  justify-content: space-around;

}

.greenBox {
  background-color: lightgreen;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin: 20px;
}

.container3 {
  min-height: 500px;
  background-color: #bebebe;
  display: flex;
  /* выравнивание относительно вертикальной оси */
  /* justify-content
    - flex-end - расположение ближе к концу оси
    - flex-start - расположение к началу оси
    - center - по центру
  */
  align-items: center;
  flex-wrap: wrap;
}

.yellowBox {
  background-color: rgb(254, 233, 146);
  border-radius: 10px;
  margin: 20px;
  width: 300px;
}

.big {
  height: 400px;
}

.middle {
  height: 300px;
}

.small {
  height: 100px;
}

.container4 {
  min-height: 2000px;
  background-color: #ffcfcf;
  display: flex;
  flex-wrap: wrap;
  /* align-content не то же самое что align-items! */
  /* content - это про все содержимое и свободное пространство по вертикальной оси  */
  /* items - пространство внутри одного ряда */
  align-content: space-evenly;
  align-items: center;
}

.cyanBox {
  background-color: rgb(120, 249, 249);
  border-radius: 10px;
  margin: 20px;
  width: 300px;
  height: 300px;
}

.container5 {
  display: flex;
  /* смена координат на 90 градусов */
  /* flex свойства выравнивания по горизонтали и вертикали меняются местами */
  flex-direction: column;
  background-color: #ffb2b2;
  justify-content: center;
  align-items: center;
  height: 1500px;
}
