* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  /* viewport height - относительный размер видимой области в браузере по высот!  */
  min-height: 100vh;
}

main {
  width: 100%;
  flex: 1;
}

header {
  /* как поставить картинку на фон контейнера */
  width: 100%;
  min-height: 120px;
  /* устанавливаем адрес картинки локальный или из сети */
  background-image: url('filmBanner.jpeg');
  /* если cover - картинка обрезается и масштабируется, если contain - создаются дубликаты, заполняющие пустое пространство */
  background-size: cover;
  /* центруем картинку на фоне */
  background-position: center;
  /* прибиваем header к верху страницы */
  position: sticky;
  z-index: 3;
  top: 0px;
  display: flex;
  justify-content: center;
  /* будь у нижнего края контейнера по вертикали */
  align-items: flex-end;
  padding: 20px;
}

footer {
  height: 80px;
  width: 100%;
  background-color: #B30E09;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(269px, 1fr));
  grid-auto-rows: 300px;
  /* gap: 5px; */
}

.imgWrapper {
  background-image: url('https://images.thalia.media/-/BF2000-2000/af9cb56a8a7d478c857f18e6b727da4e/the-art-of-star-wars-the-mandalorian-season-two-gebundene-ausgabe-phil-szostak-englisch.jpeg');
  width: 100%;
  overflow: hidden;
  background-position: center;
  background-size: cover;

}

.imgWrapper>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* позиция картинки внутри контейнера */
  object-position: center;
  backdrop-filter: blur(10px);
}

.navLogo {
  height: 30px;
}

.navInput {
  height: 20px;
  opacity: 60%;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.navBurger {
  display: none;
  color: #fff;
}

.play {
  transition: opacity 0.3s ease-in-out;
}

/* .navPlay {
  transition: opacity 0.3s ease-in-out;
} */

nav {
  /* margin: auto; */
  width: 90%;
  /* максимальная ширина */
  max-width: 1000px;
  display: flex;
  /* значение по центру по вертикали */
  align-items: center;
  justify-content: space-between;
}

nav>div {
  display: flex;

  /* изменяем значение курсора по умолчанию - pointer указывает пользователю, о том что элемент интерактивный */
  cursor: pointer;
}

nav>div>img {
  opacity: 60%;
}

nav>div>h3 {
  color: white;
  white-space: nowrap;
  /* прозрачность, работает как альфа канал (значение a) в rgba() */
  opacity: 60%;
}

.navPlay:hover .play,
.navPlay:hover h3 {
  opacity: 1;
}

.navInput:hover {
  opacity: 1;
}

@media screen and (max-width: 844px) {
  .navPlay, .navOscar {
    display: none;
  }

  .navBurger {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .navInput {
    display: none;
  }
}
